html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.button {
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 700px;
        top: 0px;
    }
    50% {
        background-color: cyan;
        right: 700px;
        top: 0px;
    }
    75% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

.divison {
    width: 200px;
    height: 40px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: 50;
    margin: 14px;
    border-radius: 12px;
    font-size: 24px;
}

.nav ul {
    float: right;
    list-style-type: none;
}

.nav li {
    float: left;
}

.nav {
    background-color: #1e2019;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: right;
    color: #8d8585;
    text-align: center;
    padding: 0px 32px;
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-top: 0px;
    text-decoration: none !important;
    font-size: 17px;
}

.nav a:hover {
    color: #ffffff;
}

.container {
    padding: 16rem;
}

#About {
    background-image: url('downloa.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#Rules {
    background-image: url('downloa.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#StartGame {
    background-image: url('downloa.jfif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fab:hover {
    opacity: 0.8;
}